#Header {
	margin:0px 0px 0px 0px;
	padding:20px 0px 0px 20px;
	border-style:solid;
	border-color:black;
	border-width:0px 0px; /* top and bottom borders: 0px; left and right borders: 0px */
	line-height:35px;
	background-color:#B90000;
	font-size:80%;
	height:55px;
}
#Header a {
	color: #fff;
	font-size:35px;
	font-family: cursive;
}

#linkbar { 
	margin: 0px 0px 0px 0px; 
	font-size: 100%; 
	background-color:#B90000;
	font-size: 16px;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 130%;
	float:left;
	width:125px;
}
#linkbar ul {
	margin:0;
	padding:0;
	list-style:none;
	line-height:150%;
}
#linkbar a {color: #fff; font-size:14px}
#linkbar a:hover {color: #666}
#Content {
	min-width:500px;
	margin:10px 10px 10px 135px; /* top, right, bottom, left */
	padding:10px 10px 10px 10px;
	background-color:white;
}
#Content p {margin:0px; }
#SubContent {
	min-width:500px;
}
#SubContentLeft {
	max-width:600px;
	margin-right:410px;
	padding:10px 10px 10px 10px;
}
#SubContentRight {
	float:right;
	width:400px;
	margin:10px 10px 10px 10px;
	padding:10px 10px 10px 10px;
}
body, html
{
	margin:0px;
	padding:0px;
	font-family:verdana, arial, helvetica, sans-serif;
	color:#333;
	background-color:white;
}
body {
	min-width:750px;
}
h1 {
	padding:0px;
	font-size:18px;
	font-weight:800;
	color:#000;
}
h2 {
	padding:0px;
	font-size:16px;
	font-weight:700;
	color:#000;
}
h3 {
	padding:0px;
	font-size:14px;
	font-weight:600;
	font-style:italic;
	color:#000;
}
p {
	font:14px/20px verdana, arial, helvetica, sans-serif;
	padding:0px;
	font-weight:500;
	color:#000;
}
li {
	font:14px/20px verdana, arial, helvetica, sans-serif;
	padding:0px;
	font-weight:600;
}
a {
	text-decoration:none;
	font-weight:600;
	font-family:verdana, arial, helvetica, sans-serif;
} 

a:link {color:#0081e5;}
a:visited {color:#0081e5;}
a:hover {/*background-color:#EEE;*/ color: #666}

a.invisible {
	display:none;
}

input[type="text"]:hover, input[type="password"]:hover
{
	background-color: #FFC;
	border-color: #F90;
}

input[type="submit"]
{
	font-weight: bold;
	margin-left: 1em;
	margin-right: 1em;
}

.centered
{
	margin-left: auto;
	margin-right: auto;
}

.errorMessage
{
	font-size: large;
	font-weight: bold;
	color: red;
	padding: 0.5em 0;
}

#navigationBar
{
	width: 40em;
	margin-top: 2%;
	margin-bottom: 0;
}

.navigationBarItem
{
	border: 1px solid #BEBEBE;
}

.navigationBarItem:hover
{
	background-color: #FFC;
}

#bookmarkList
{
	background-color: #FFF;
	width: 80%;
	margin: 5% auto;
}

#bookmarkListTable
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	text-align: center;
	border: 1px solid #BEBEBE;
}

#myVideoListTable
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	text-align: left;
	border: 1px solid #BEBEBE;
}

.bookmarkListRow:hover
{
	background-color: #FCC;
}

.bookmarkListCell
{
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: #BEBEBE;
}

._form
{
	background-color: #FFEAEA;
	color: #191950;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #BEBEBE;
	text-align: center;
}

._boxVideo
{
	background-color: #FFEAEA;
	color: #191950;
	margin-left: 0;
	border: 1px solid #BEBEBE;
	text-align: left;
}

#loginForm
{
	width: 30em;
	margin-top: 15%;
	margin-bottom: 15%;
}


#registerForm
{
	width: 24em;
	margin-top: 10%;
	margin-bottom: 10%;
}

#profileEditForm
{
	width: 24em;
	margin-top: 10%;
	margin-bottom: 10%;
}

#footer
{
	width: 100%;
	text-align: center;
}


